body{
    background: #dfdfdf;
    color: #222222;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 900px;
    margin: 0 auto;
}

.profile{
    text-align: center;
    margin-bottom: 40px;
}

.foto-principal{
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #959595;
    margin: 30px 30px 0 30px;

}

h1{
    margin-bottom: 0;
    margin-top: 10px;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2{
    margin-top: 0;
    font-style: italic;
    color: rgb(70, 70, 70);
    font-weight: 100;
    letter-spacing: -1px;
}

h4{
    margin-bottom: 5px;
}

h5{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 100;
    font-style: italic;
}

p{
    line-height: 25px;
    margin-top: 0;
}

.social-icons{
    width: 20px;
    height: auto;
}

.social-links{
    text-decoration: none;
}

.github{
    margin-right: 20px;
    margin-left: 20 px;
}

.jobs-list{
    list-style: none;
    padding-left: 20px;
}