body{
    background: #dfdfdf;
}

p{
    color: #222222;
}

.foto-principal{
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin: 30px; /* Shorthand do css: top, right, bottom, left margin */
    box-shadow: 0px 0px 10px #959595;

}


